.pop-up {
  position: fixed;
  right: 0;
  top: 10%;
  transform: translateY(-50%);
  width: 200px;
  height: auto;
  background-color: red;
  color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  border-radius: 15px; /* Adjust as needed */
}

.pop-up:empty {
  display: none;
}
