<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ "portfolioMenu" | translate }}</title>
  </head>
  <app-preloader></app-preloader>


  <header class="sticky-header" [class.dark-mode]="isDarkMode">
    <mat-toolbar class="seamless-toolbar {{isActive('/')}}" color="primary">
      <div class="header-title" >
        <h1>Benjamin Payet</h1>
      </div>

      <div fxHide fxShow.gt-sm> <!-- This will hide on screens smaller than medium -->
        <a
          mat-button
          routerLink="/"
          pageScroll
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          style="font-size: xx-large"
        >{{ "homeMenu" | translate }}</a
        >
        <a
          mat-button
          routerLink="/about"
          pageScroll
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)"
          routerLinkActive="active"
          style="font-size: xx-large"
        >{{ "aboutMenu" | translate }}</a
        >
        <a
          mat-button
          routerLink="/portfolio"
          pageScroll
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)"
          routerLinkActive="active"
          style="font-size: xx-large"
        >{{ "portfolioMenu" | translate }}</a
        >
        <a
          mat-button
          routerLink="/articles"
          pageScroll
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)"
          routerLinkActive="active"
          style="font-size: xx-large"
        >{{ "articlesMenu" | translate }}</a
        >
        <a
          mat-button
          routerLink="/contact"
          pageScroll
          (mouseenter)="onMouseEnter($event)"
          (mouseleave)="onMouseLeave($event)"
          routerLinkActive="active"
          style="font-size: xx-large"
        >{{ "contactMenu" | translate }}</a
        >
      </div>

      <div fxShow fxHide.gt-sm> <!-- This will show on small screens and hide on screens wider than small -->
        <button mat-button [matMenuTriggerFor]="menu">
          Menu
        </button>
        <mat-menu #menu="matMenu"> <!-- This is the menu for small screens -->
          <button mat-menu-item routerLink="/">{{ "homeMenu" | translate }}</button>
          <button mat-menu-item routerLink="/about">{{ "aboutMenu" | translate }}</button>
          <button mat-menu-item routerLink="/portfolio">{{ "portfolioMenu" | translate }}</button>
          <button mat-menu-item routerLink="/articles">{{ "ArticlesMenu" | translate }}</button>
          <button mat-menu-item routerLink="/contact">{{ "contactMenu" | translate }}</button>
        </mat-menu>
      </div>

      <button class="light-bulb" (click)="toggleDarkMode()">
        <img
          [src]="
      isDarkMode ? 'assets/light-bulb-off.svg' : 'assets/light-bulb-on.svg'
    "
          alt="Light mode toggle"
        />
      </button>
      <button
        mat-icon-button
        class="translation-button"
        (click)="switchLanguage()"
      >
        <div>{{ currentLanguage === "en" ? "EN" : "FR" }}</div>
      </button>

    </mat-toolbar>
  </header>



  <body  [class.dark-mode]="isDarkMode">

    <br>

    <main>
      <router-outlet></router-outlet>

      <app-back-to-top></app-back-to-top>
    </main>

    <footer>
      <app-footer></app-footer>
      <p><button routerLink="/contact">{{ "contactMenu" | translate }}</button></p>
    </footer>
  </body>
</html>
