<section id="articles">
  <div class="search-container">

  </div>
  <div class="articles-container">
    <div class="article">
      <h3>{{ "article1Title" | translate }}</h3>
      <img
        [src]="article1.image"
        alt="{{ 'article1Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article1Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article2Title" | translate }}</h3>
      <img
        [src]="article2.image"
        alt="{{ 'article2Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article2Text" | translate }}</p>

    </div>


    <div class="article">
      <h3>{{ "article3Title" | translate }}</h3>
      <img
        [src]="article3.image"
        alt="{{ 'article3Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article3Text" | translate }}</p>

    </div>


    <div class="article">
      <h3>{{ "article4Title" | translate }}</h3>
      <img
        [src]="article4.image"
        alt="{{ 'article4Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article4Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article5Title" | translate }}</h3>
      <img
        [src]="article5.image"
        alt="{{ 'article5Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article5Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article6Title" | translate }}</h3>
      <img
        [src]="article6.image"
        alt="{{ 'article6Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article6Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article7Title" | translate }}</h3>
      <img
        [src]="article7.image"
        alt="{{ 'article7Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article7Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article8Title" | translate }}</h3>
      <img
        [src]="article8.image"
        alt="{{ 'article8Title' | translate }}"
        class="article-image"
      />
      <p>{{ "article8Text" | translate }}</p>

    </div>

  </div>
  <app-reading-progress-bar></app-reading-progress-bar>
</section>
