<section id="articles">
  <div class="search-container">

  </div>
  <div class="articles-container">
    <div class="article">
      <h3>{{ "article1Title" | translate }}</h3>

      <p>{{ "article1Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article2Title" | translate }}</h3>

      <p>{{ "article2Text" | translate }}</p>

    </div>


    <div class="article">
      <h3>{{ "article3Title" | translate }}</h3>

      <p>{{ "article3Text" | translate }}</p>

    </div>


    <div class="article">
      <h3>{{ "article4Title" | translate }}</h3>

      <p>{{ "article4Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article5Title" | translate }}</h3>

      <p>{{ "article5Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article6Title" | translate }}</h3>

      <p>{{ "article6Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article7Title" | translate }}</h3>

      <p>{{ "article7Text" | translate }}</p>

    </div>

    <div class="article">
      <h3>{{ "article8Title" | translate }}</h3>

      <p>{{ "article8Text" | translate }}</p>

    </div>

  </div>
  <app-reading-progress-bar></app-reading-progress-bar>
</section>
