<section id="articles">
  <div class="search-container">
    <input
      [(ngModel)]="searchTerm"
      (input)="searchArticles(searchTerm)"
      placeholder="Search articles..."
    />
  </div>
  <div class="articles-container">
    <div class="article" *ngFor="let article of articles">
      <h3>{{ article.title }}</h3>
      <img
        [src]="article.image"
        alt="{{ article.title }}"
        class="article-image"
      />
      <p>{{ article.summary }}</p>
      <a [href]="article.link" target="_blank" rel="noopener noreferrer"
        >Read More</a
      >
    </div>
  </div>
  <app-reading-progress-bar></app-reading-progress-bar>
</section>
