/* You can add global styles to this file, and also import other style files */
/* Add the Google Font */
@import url("https://fonts.googleapis.com/css?family=Lato");

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
}

/* Toolbar styles */
mat-toolbar {
  padding: 8px 16px;
}

/* Home component styles */
.header {

  padding: 40px;
}

.profile-image {
  border-radius: 50%;
  margin-bottom: 20px;
}
html,
body {
}
body {
  margin: 0;
  font-family: Lato, "Helvetica Neue", sans-serif;
}
