<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
  class="header"
>
  <img src="assets/photocv_nobg.png" alt="Your Name" class="profile-image" />
  <h1>Payet Benjamin</h1>
  <p>{{ "jobTitle" | translate }}</p>

  <!-- <app-back-to-top-button></app-back-to-top-button> -->
  <router-outlet></router-outlet>

  <h1>{{ title }}</h1>

  <div class="projects-container">
    <section class="projects">
      <img
        src="assets/project1.png"
        alt="{{ 'project1title' | translate }}"
        class="project-image"
      />
      <h2>{{ "project1title" | translate }}</h2>
      <p>{{ "project1description" | translate }}</p>

    </section>
    <section class="projects">
      <img
        src="assets/project2.png"
        alt="{{ 'project2title' | translate }}"
        class="project-image"
      />
      <h2>{{ "project2title" | translate }}</h2>
      <p>{{ "project2description" | translate }}</p>

    </section>
    <section class="projects">
      <img
        src="assets/project3.png"
        alt="{{ 'project3title' | translate }}"
        class="project-image"
      />
      <h2>{{ "project2title" | translate }}</h2>
      <p>{{ "project2description" | translate }}</p>

    </section>
  </div>




</div>
<app-slideshow></app-slideshow>


